<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <style>
        {% include 'pylib/summary/summary.css' -%}
    </style>
</head>

<body>

    <header>
        <h1>{{header.title}}</h1>
        <div><label>Date:</label><span>{{header.date}}</span></div>
        <div><label>Number of Subjects:</label><span>{{header.subjects}}</span></div>
        <div><label>Number of Transcripts:</label><span>{{header.transcripts}}</span></div>
        <div><label>Transcripts per Subject:</label><span>{{header.ratio}}</span></div>
        <div><label>Transcriber Count:</label><span>{{header.transcribers}}</span></div>
    </header>

    {% if has_users %}
    <section id="users">
        <h2>Transcriber Summary</h2>
        <button title="Expand or collapse the top transcribers table"></button>
        <div class="users-container">
            {{ transcribers }}
        </div>
    </section>

    <section>
        <h2>Transcriptions per Transcriber</h2>
        <i>
            Note: {{threshold}} includes all transcribers with {{threshold}}
            or more transcriptions.
        </i>
        {{ chart | safe }}
    </section>
    {% endif %}

    <section>
        <h2>Reconciliation Summary</h2>
        {{ results }}
    </section>

    {% if print_detail %}
    <section id="reconciliation">
        <h2>Reconciliation Detail</h2>
        <label>Filter Rows:</label>
        <select class="filter">
            {% for key, val in filters.items() %}
            <option {% if loop.first %} selected="selected" {% endif %}>{{key | safe}}</option>
            {% endfor %}
        </select>
        {{ skeleton | safe }}
        <div class="pager-container">
            <button class="first-page" title="First page">&lt;&lt;</button>
            <button class="previous-page" title="Previous page">&lt;</button>
            <label>Page:</label>
            <input class="pager" type="number" min="1" step="1" value="1" />
            <label class="max-page"></label>
            <button class="next-page" title="Next page">&gt;</button>
            <button class="last-page" title="Last page">&gt;&gt;</button>
        </div>
    </section>
    {% endif %}

</body>

<script>
    {% include 'pylib/summary/summary.js' -%}
</script>

</html>
